.container {
  border: 3px solid blue;
  width: 50%;
  top: 0%;
  left: 50%;
  position: fixed;
}
.header { 
}
.Mario {
  width: 25%
}
.luigi {
  width: 25%
}
.message { 
}
.wario {
  width: 500px;
  height: 2000px;
}